.bets-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .bets-container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .games-list {
    list-style: none;
    padding: 0;
  }
  
  .game-item {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .game-teams {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

  }
  
  .bet-details {
    display: flex;
    flex-direction: column;
  }
  
  .bet-input {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 50px;
  }
  
  .bet-input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.25);
  }
  
  .team-item {
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }